.logo{
    width: 15%;
    height: 15%;
}
.navba1{
    display: flow-root;
}
.container-fluid .row{
    font-size: large;
}
.card-img-top{
    width: 100%;
    height:100%;
}
.nav-item {
    float: right;
}
